.Title {
  text-transform: uppercase;
  color: #fff;
  margin-top: 3rem;
  transform: translateX(-30px);
  opacity: 0;
  animation: animaText 0.3s forwards;
}
@keyframes animaText {
  to {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.Title span {
  color: #fff;
  opacity: 0.25;
  font-weight: 700;
  margin-right: 1.75rem;
}

@media (max-width: 800px) {
  .Title {
    font-size: 20px;
    letter-spacing: 3.3px;
  }
}
@media (max-width: 425px) {
  .Title {
    text-align: center;
    font-size: 16px;
    margin-top: 1.5rem;
  }
  .Title span {
    margin-right: 1rem;
  }
}
